$flags: (
  ad: "🇦🇩", // Andorra
  ae: "🇦🇪", // United Arab Emirates
  af: "🇦🇫", // Afghanistan
  al: "🇦🇱", // Albania
  am: "🇦🇲", // Armenia
  ar: "🇦🇷", // Argentina
  at: "🇦🇹", // Austria
  au: "🇦🇺", // Australia
  ba: "🇧🇦", // Bosnia & Herzegovina
  bd: "🇧🇩", // Bangladesh
  be: "🇧🇪", // Belgium
  bg: "🇧🇬", // Bulgaria
  br: "🇧🇷", // Brazil
  by: "🇧🇾", // Belarus
  ca: "🇨🇦", // Canada
  ch: "🇨🇭", // Switzerland
  cl: "🇨🇱", // Chile
  cn: "🇨🇳", // China
  co: "🇨🇴", // Colombia
  cr: "🇨🇷", // Costa Rica
  cu: "🇨🇺", // Cuba
  cy: "🇨🇾", // Cyprus
  cz: "🇨🇿", // Czech Republic
  de: "🇩🇪", // Germany
  dk: "🇩🇰", // Denmark
  es: "🇪🇸", // Spain
  eu: "🇪🇺", // European Union
  eg: "🇪🇬", // Egypt
  fi: "🇫🇮", // Finland
  fr: "🇫🇷", // France
  gb: "🇬🇧", // United Kingdom
  gh: "🇬🇭", // Ghana
  ge: "🇬🇪", // Georgia
  gi: "🇬🇮", // Gibraltar
  gl: "🇬🇱", // Greenland
  gr: "🇬🇷", // Greece
  hk: "🇭🇰", // Hong Kong
  hr: "🇭🇷", // Croatia
  hu: "🇭🇺", // Hungary
  id: "🇮🇩", // Indonesia
  ie: "🇮🇪", // Ireland
  il: "🇮🇱", // Israel
  in: "🇮🇳", // India
  iq: "🇮🇶", // Iraq
  ir: "🇮🇷", // Iran
  is: "🇮🇸", // Iceland
  it: "🇮🇹", // Italy
  jm: "🇯🇲", // Jamaica
  jp: "🇯🇵", // Japan
  kw: "🇰🇼", // Kuwait
  li: "🇱🇮", // Liechtenstein
  lk: "🇱🇰", // Sri Lanka
  lr: "🇱🇷", // Liberia
  lt: "🇱🇹", // Lithuania
  lu: "🇱🇺", // Luxembourg
  lv: "🇱🇻", // Latvia
  ly: "🇱🇾", // Libya
  ma: "🇲🇦", // Morocco
  mc: "🇲🇨", // Monaco
  md: "🇲🇩", // Moldova
  me: "🇲🇪", // Montenegro
  mg: "🇲🇬", // Madagascar
  mk: "🇲🇰", // Macedonia
  ml: "🇲🇱", // Mali
  mm: "🇲🇲", // Myanmar
  mq: "🇲🇶", // Martinique
  mt: "🇲🇹", // Malta
  mu: "🇲🇺", // Mauritius
  mx: "🇲🇽", // Mexico
  my: "🇲🇾", // Malaysia
  ne: "🇳🇪", // Niger
  ng: "🇳🇬", // Nigeria
  ni: "🇳🇮", // Nicaragua
  nl: "🇳🇱", // Netherlands
  no: "🇳🇴", // Norway
  np: "🇳🇵", // Nepal
  nz: "🇳🇿", // New Zealand
  pa: "🇵🇦", // Panama
  pe: "🇵🇪", // Peru
  ph: "🇵🇭", // Philippines
  pk: "🇵🇰", // Pakistan
  pl: "🇵🇱", // Poland
  pr: "🇵🇷", // Puerto Rico
  pt: "🇵🇹", // Portugal
  py: "🇵🇾", // Paraguay
  qa: "🇶🇦", // Qatar
  ro: "🇷🇴", // Romania
  rs: "🇷🇸", // Serbia
  ru: "🇷🇺", // Russia
  rw: "🇷🇼", // Rwanda
  sa: "🇸🇦", // Saudi Arabia
  sb: "🇸🇧", // Solomon Islands
  sd: "🇸🇩", // Sudan
  se: "🇸🇪", // Sweden
  sg: "🇸🇬", // Singapore
  si: "🇸🇮", // Slovenia
  sk: "🇸🇰", // Slovakia
  sn: "🇸🇳", // Senegal
  so: "🇸🇴", // Somalia
  sv: "🇸🇻", // El Salvador
  sy: "🇸🇾", // Syria
  th: "🇹🇭", // Thailand
  tr: "🇹🇷", // Turkey
  tw: "🇹🇼", // Taiwan
  tz: "🇹🇿", // Tanzania
  ua: "🇺🇦", // Ukraine
  us: "🇺🇸", // United States
  uy: "🇺🇾", // Uruguay
  ve: "🇻🇪", // Venezuela
  vn: "🇻🇳", // Vietnam
  za: "🇿🇦", // South Africa
  ze: "🇿🇼"  // Zimbabwe
);